body {
  background: red;
  font-size: 14px;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  clip-path: circle(20rem 20rem 20rem);
}

p {
  transition: all .2s ease-in-out;
}

input {
  &:placeholder-shown {
    color: black;
  }
  clip-path: circle(20rem);
}
